<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <title>Dojo toolkit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/js/dijit/themes/claro/claro.css" />

</head>

<body class="claro">
    {{{body}}}
    <script>
        var dojoConfig = {
            async: true,
            packages: [{
                name: "formation",
                location: location.pathname.replace(/\/[^/]*$/, '') + '/javascripts/formation'
            }]
        }
    </script>
    {{!-- <script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js" data-dojo-config="async: true"></script> --}}
    <script src="/js/dojo/dojo.js" data-dojo-config="async: true"></script>
    <script>
        require([
            'formation/{{module}}',
            'dojo/domReady!'
        ], function (module, dom, domConstruct) {
            module.start()
        });
    </script>
</body>

</html>