<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <title>Dojo toolkit</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  {{{body}}}
  {{!-- <script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js" data-dojo-config="async: true"></script> --}}
  <script src="/js/dojo/dojo.js" data-dojo-config="async: true"></script>
  <script>
    require([
      'dojo/dom',
      'dojo/dom-construct'
    ], function (dom, domConstruct) {
      var greetingNode = dom.byId('greeting');
      domConstruct.place('<em> Dojo!</em>', greetingNode);
    });
  </script>
</body>

</html>