body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.formation-006-query-blue { 
  background-color:#81D4FA;
}
.formation-006-query-red { 
  background-color:#FFAB91;
}
.formation-006-query-darkred {
  background-color:#B71C1C;
}
.UserBox {
  border:1px solid lightgrey;
  border-radius: 3px;
  box-shadow: 2px 2px rgba(0,0,0,0.85);
  padding:1em;
}
.UserBoxSelected {
  border:1px solid red;
}